.artist-card-container {
  margin: 10px;
}

.card-artist {
  border: solid aliceblue 1px;
  height: 200px;
  width: 200px;
}

.card-artist img {
  height: 100px;
  width: 100%;
}

.card-artist h4 {
  padding: 10px 0;
}

.card-artist a {
  color: #fea418;
}

.card-artist p {
  color: #cacaca;
  font-size: small;
  padding: 5px 0 20px;
}
