.artist-card-container {
  margin: 10px;
  width: 160px;
}

.card-artist {
  align-items: center;
  background-color: #022349;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
  padding: 10px;
}

.card-artist img {
  border-radius: 5px;
  margin: auto;
  width: 80%;
}

.card-artist h5 {
  padding: 10px 0;
}

.card-artist a {
  color: #fea418;
}

.card-artist p {
  color: #cacaca;
  font-size: small;
  padding: 5px 0 20px;
}
