.login-container {
  background-color: #012f57;
  min-width: 400px;
  padding: 20px;
}

.login-container h1 {
  color: #fea418;
  padding-bottom: 20px;
  text-align: center;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}

input {
  border: none;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
  padding: 8px;
}

.login-inputs input {
  width: 100%;
}

button {
  background-color: #fea418;
  border: none;
  border-radius: 5px;
  color: #001a31;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  padding: 8px;
}

.login-inputs button {
  display: block;
  font-size: 1em;
  margin: auto;
  width: 50%;
}

@media ( max-width : 576px ) {

  .login-container {
    min-width: 90%;
  }

}
