.card-music-container {
  align-items: center;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.card-music-container .card-music-thumb {
  width: 10%;
}

.card-music-container .card-music-trackName {
  color: #b3d8f8;
  font-size: 1.5em;
}

.card-music-container .card-music-thumb img {
  width: 100%;
}

.card-music-container:hover {
  background-color: #012646;
}

.card-music-container audio {
  background-color: transparent;
}

.card-music-container input {
  left: 5px;
  margin-left: 5px;
  opacity: 0;
  position: absolute;
}

.card-music-container .card-music-saveFavorite label {
  font-size: x-large;
}

.card-music-container .checked {
  color: #fea418;
}

.card-music-saveFavorite {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

/* PLAYER  */
.card-music-player {
  width: 100%;
}

.card-music-label-player {
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: space-around;
  padding: 10px;
  width: 80%;
}

.card-music-player audio {
  display: none;
}

.card-music-player button {
  background-color: transparent;
  color: aliceblue;
}

.card-music-container .progress-bar {
  background-color: rgb(178, 178, 178);
  height: 2px;
  width: 100%;
}

@media ( max-width : 576px ) {

  .card-music-container .card-music-thumb {
    width: 20%;
  }

  .card-music-label-player {
    height: 70px;
    padding: 0 10px;
    width: 70%;
  }

  .card-music-container .card-music-trackName {
    color: #b3d8f8;
    font-size: 1em;
  }

  .card-music-saveFavorite {
    align-items: center;
    display: flex;
    justify-content: center;
  }

}
