.profile-page {
  color: #9eb2c8;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.profile-page p {
  padding: 5px;
}

.profile-page .name-user, .email-user, .description-user, .edit-user {
  padding: 10px;
}

.edit-user a {
  color: #022d55;
  text-decoration: none;
}

