.search-container-inputs {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.search-container-inputs input {
  border-radius: 5px 0 0 5px;
}

.search-container-inputs button {
  border-radius: 0 5px 5px 0;
}

.search-input-container {
  align-items: center;
  display: flex;
}

.search-result-container {
  margin: auto;
  max-width: 900px;
}

.search-result-container p strong {
  color: #fea418;
  margin-left: 10px;
}

.search-result-container .albuns-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.artist-name {
  width: 100%;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist-name abbr {
  text-decoration: none;
}